body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
h4{
    color: rgb(81, 146, 16);
}
/* header /navbar */
.navbar{   
    background-color: darkblue;
    position: fixed;
}
.nav-item a{
    color: white !important;
    margin-right: 40px;
}
.logo{
    width: 100px;
}
/* Empty bus */

#emptyDiv{
    
    width: 100%;
    height: 75vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;

    display: none;
}

/* bus area */
#serch_bus{
    margin-top: 88px;
    display: none;
}
/* fare area start*/
.fare{
    padding: 15px;
    background-color: #fff;

}
.system{
  border-right: 1px dotted black;
  padding-left: 10px;

}
.system:last-child{
    border: none ;
}
/* bus available */
.bus-available{
    padding: 10px;
    background-color: #f3f3f3;
    margin-bottom: 10px;
    display: none;
}

.bus{
    border-right: 1px dotted black;
    text-align: center;
    padding-top: 15px;
}
.bus:last-child{
    border-right: none !important;
}
.bus:first-child{
    padding-top: 0;
}
.seat{
    width: 100px;
    padding: 10px;
    background-color: green;
    color: white;
}
.seat:focus{
    box-shadow: none;
}
.seat:hover{
    background-color: greenyellow;
    color: black;
}
/* footer1 start */
#footer1{
    background-color: rgb(57, 66, 66);
    padding: 30px 0;
}
#footer1 h3{
    color: white;
    font-weight: 700;
}
.footer1-item{
    padding-left: 65px;
}
.foter-list a{
    color:  rgba(255,255,255,0.5);
    text-decoration: none;
}
.footer1-text{
    color:  rgba(255,255,255,0.5);
}

/* footer2 */
#footer2{
    background-color: rgb(42, 44, 44);
    padding: 20px 0;
    text-align: center;
}
#footer2 h5{
    color:  rgba(255,255,255,0.8); 
}


.seat-area{
    background-color: blue;
    color: white;
    padding: 20px;
    
}



.seat-four{
    max-width: 130px;
    padding:20px;
    border:1px solid black;
    margin-top: 15px;
    
}
#seat_number{
    cursor: pointer;
    color: lightskyblue;
    padding-right: 5px !important;
   
}
  /* when click a seat */
.color_red{
    color: red;
}
#seat_number:hover{
    color: red;
}
.fare-seat{
    border-bottom: 1px dotted white;
    margin-bottom: 20px;
    width: 100px;
}
.price_area{
    display: flex;
   margin-top: 20px;
}
.btn_price{
    width: 150px;
    height: 35px;
    border: 1px solid gray;
    background-color: transparent;
}

.black{
    color: black;
    padding: 10px ;
}

.white{
    color: lightskyblue;
    padding: 10px ;
}
.tale{
 
    color: red;
    padding: 10px;
}