body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* header area start */
#header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 888;
}

#nava {
    top: 0;
    position: fixed;
    background-color: transparent;
    transition: 1s;
}

.nav-item a {
    color: white !important;
    margin-right: 40px;
}

.logo {
    width: 100px;
}


/* header end */

/* banner area start */
#banner {
    display: flex;
    background-image: url(../pic/banner10.jpg);
    background-position: center center;
    position: relative;
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    

}

.from-item {
    margin: 8px 0;
    width: 250px;
}

label {
    color: #FFD700;
    margin: 0 !important;
    padding-left: 5px;
}

.choice {
    color: black !important;
    background: transparent;
    background-color: white;
    padding: 10px;
    width: 250px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
}

.choice:focus {
    box-shadow: none;
}

.form-control {
    background-color: white !important;
}

.form-control::placeholder {

    color: black ;
    opacity: 0.6;

}

::placeholder{
    color: black ;
    opacity: 0.6;
   
}

.form-control:focus {
    border-color: black !important;
}

.btn-outline-secondary {
    border-color: black !important;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 10px;
}

.gj-datepicker-bootstrap [role="right-icon"] button .gj-icon,
.gj-datepicker-bootstrap [role="right-icon"] button .material-icons {
    position: absolute;
    font-size: 21px;
    top: 9px;
    left: 9px;
    color: black;
}

.btn1 {
    width: 250px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid gray;
    background-color: green;
    color: white;
    margin: 8px 0;
}

.btn1:hover {
    background-color: darkgreen;
    color: white;
}

.btn1:focus {
    box-shadow: none;
}

/* Customer feedback area start */
.features-wrapper {
    padding-bottom: 0 !important;
}

.testimonial-item {
    background-color: #f3f5f7;
}

.offer {
    height: 200px;
    width: 200px;
}
/* .offer {
    width: 100%;
} */

.owl-next {
    font-size: 25px !important;
}

.owl-prev {
    font-size: 25px !important;
}

/* Customer feedback area start */
/* operator/route area */
#operator {
    padding: 20px;
}

.operator {
    padding-top: 30px !important;
}

.route {
    padding-bottom: 40px !important;
}

#operator .container {
    background-color: #f5f6f9;
}

.O_heading {
    font-weight: 900;
    padding: 10px 0 20px 0;
    color: darkblue;
}

.route a {
    font-size: 14px;
    font-weight: 500;
    color: #212529;
    text-decoration: none;
}

.fa-bus {
    color: rgb(78, 180, 214) !important;
}

.fa-road {
    color: green;
}

/*  operator/route area stop*/

/*counter area start*/
.counter-wrapper {
    background-color: #fab702;
}

.counter_heading {
    text-align: center;
    font-weight: 900;
    margin: 15px 0 30px 0;
    text-transform: uppercase;
    color: cadetblue;

}

.counter-item img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: cadetblue;

}

.counter {
    margin: 0 !important;
}

.counter-count {
    text-align: center;
    justify-content: center;

}

.fa-plus {
    color: white;

}

/*counter area stop*/

/* footer1 start */
#footer1 {
    background-color: rgb(57, 66, 66);
    padding: 30px 0;
}

#footer1 h3 {
    color: white;
    font-weight: 700;
}

.footer1-item {
    padding-left: 65px;
}

.foter-list a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.footer1-text {
    color: rgba(255, 255, 255, 0.5);
}

/* footer2 */
#footer2 {
    background-color: rgb(57, 66, 66);
    padding: 10px 0 20px;
    text-align: center;
}

#footer2 h5 {
    color: rgba(255, 255, 255, 0.8);
}
